//Them thu vien LiquitCrystal
#include <LiquidCrystal.h>
 
//Khoi tao voi cac chan
LiquidCrystal lcd(12, 11, 5, 4, 3, 2);
 
void setup() {
  //Thong bao day la LCD 1602
  lcd.begin(16, 2);
  //In ra man hinh lcd dong chu Toi yeu Arduino
  lcd.print("Toi yeu Arduino!");
}
 
void loop() {
  // dat con tro vao cot 0, dong 1
  // Luu : dong 1 là dong thu 2, dong 0 là dong thu 1. 
  lcd.setCursor(0, 1);
  // In ra dong chu
  lcd.print("   Arduino.VN");
}